@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,700;1,300&display=swap');


.App {
  text-align: center;
}

.bgBlack {
  background-color: black;
}

.poppinsTitle {
  font-family: 'Poppins', sans-serif;
  font-weight:700;
  font-size: 3em;
}

.poppinsText {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-style: normal;
  color : lightgray;
}


.btn-outline-warning {
  background: none !important;
}

.btn-outline-warning:hover {
background-color: #FFC107 !important;
}


.btn-outline-info{
  background: none !important;
}

.btn-outline-info:hover {
background-color: #138496 !important;
}