@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,700;1,300&display=swap');



.App {
  text-align: center;
}


.bgBlack {
  background-size: cover;
  background-color: black;
}

.poppinsTitle {
  font-family: 'Poppins', sans-serif;
  font-weight:700;
  font-size: 2.5em;
}

.poppinsText {
  font-family: 'Poppins', sans-serif;
  font-size: 1.1em;
  font-weight: 300;
  font-style: normal;
  color : lightgray;
}

.align-left {
  text-align: left;
}

.light-grey {
  color: rgba(198,201,216,.75);
}

#logo {
  margin-top: 5%;
  max-width: 13.5em;
}

.active {
  border-bottom: 1px solid #F9A940;
}

.btn-outline-light {
  color: #F9A940 !important;
  border-color: #F9A940 !important;
}

.nav-link.active {
  color : #F9A940 !important;
}

.nav-link {
  margin-left: 1.5em;
  margin-right: 1.5em;
}

.btn-outline-warning {
  background: none !important;
}

.btn-outline-warning:hover {
background-color: #FFC107 !important;
}


.btn-outline-info{
  background: none !important;
}

.btn-outline-info:hover {
background-color: #138496 !important;
}